@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1C;
    color: #777777;
}

li {
    list-style-type: none;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input, textarea, select {
    touch-action: manipulation;
}

header nav .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 1%;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #2B2B2B;
}

header nav .nav-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #777777;
    gap: 3px;
    width: 20%;
}

header nav .nav-list li.active {
    background-color: #1C1C1C;
    color: #fff;
    padding: 1.5%;
    border-radius: 10px;
}

header nav .nav-list li p {
    font-size: 11px;
}

a {
    text-decoration: none;
}


.main-tap-activity .tap-image {
    width: 100%;
    display: flex;
    padding: 10% 20%;
    justify-content: center;
    align-items: center;
}

.main-tap-activity .tap-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.main-show-wallet {
    position: relative;
}

.main-show-wallet .btc-wrapper .image-currency .image-wrapper.img-disabled {
    display: none;
}

.main-show-wallet .btc-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 2%;
    margin: 2%;
}

.main-show-wallet .btc-wrapper .image-currency {
    width: 15%;
    position: relative;
}

.main-show-wallet .btc-wrapper .image-currency .menu-change-currency {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #777777;
    width: 250%;
    border-radius: 5px;
    background-color: #1C1C1C;
    display: none;
}

.main-show-wallet .btc-wrapper .image-currency .menu-change-currency .currency {
    padding: 5%;
    border-bottom: 1px solid #777777;
}

.main-show-wallet .btc-wrapper .image-currency .menu-change-currency .currency.active {
    background-color: rgb(255, 255, 255, 0.1);
}

.main-show-wallet .btc-wrapper .image-currency .menu-change-currency .currency.active p {
    color: #fff;
}

.main-show-wallet .btc-wrapper .image-currency .menu-change-currency .currency p {
    font-size: 11px;
}

.main-show-wallet .btc-wrapper .image-currency .menu-change-currency .currency:last-child {
    border: none;
}

.main-show-wallet .btc-wrapper .image-currency .image-wrapper  {
    overflow: hidden;
    border-radius: 10px;
 }

.main-show-wallet .btc-wrapper .image-currency .image-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
}

.main-show-wallet .btc-wrapper .wallet .wallet-number p {
    font-size: 35px;
}


.main-show-caracteristics {
    padding: 2% 0;
    margin: 2% 0;
}

.main-show-caracteristics .main-show-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-show-caracteristics .main-show-container .show-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    background-color: #2B2B2B;
    border-radius: 7px;
    padding: 2%;
    width: 27.5%;
}

.main-show-caracteristics .main-show-container .show-box .title p {
    font-size: 9px;
}

.main-show-caracteristics .main-show-container .show-box .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-show-caracteristics .main-show-container .show-box .content i {
    font-size: 13px;
}

.main-show-caracteristics .main-show-container .show-box .content p {
    font-size: 11px;
}